{% extends 'AhmedBlogBundle::layout.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }} posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a> by {{ post.author }} on {% if post.dateCreated %}{{ post.dateCreated|date('Y-m-d H:i:s') }}{% endif %} [<a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>]
            </li>        
        {% endfor %}
    </ul>
       
{% endblock %}
