{% extends 'AhmedBlogBundle::layout.html.twig' %}

{% block content -%}
    <div class="col-sm-8">
        <h2>{{ entity.title }}</h2>
        <hr>
        Posted on {{ entity.dateCreated|date('Y-m-d H:i:s') }} by {{ user.username }} {% if is_granted('ROLE_ADMIN') %} [<a href="{{ path('post_edit', { 'id': entity.id }) }}">Edit</a>] {% endif %}
        [<a href="{{ path('contact_author', { 'authorId': entity.author }) }}">Contact Author</a>]
        <hr>
        
            {{ entity.content }}
        
    </div>
{% endblock %}
