<div class="col-sm-4">
    <h3>Blog Categories</h3>
    <ul class="list-group">
        {% for categoryEntity in categoryEntities %}
            <li class="list-group-item">
                <a href="{{ path('category_show', { 'id': categoryEntity.id }) }}">{{ categoryEntity.name }}</a>   {% if is_granted('ROLE_ADMIN') %} [<a href="{{ path('category_edit', { 'id': categoryEntity.id }) }}">edit</a>]{% endif %}            
            </li>         
        {% endfor %}
    </ul>   

    {% if is_granted('ROLE_ADMIN') %} 
        <h3>Admin Panel</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('post_new') }}">Create post</a>
            </li>  
            <li class="list-group-item">
                <a href="{{ path('category_new') }}">Create category</a>
            </li>
        </ul>
    {% endif %}
    <h3>
        <a class="btn btn-primary btn-lg" href="{{ path('contact_new') }}">Contact us</a>
        {% if not app.user %}
            <a class="btn btn-primary btn-lg" href="{{ path('site_login') }}">Login</a>
        {% endif %}
    </h3>
</div>  





